{% extends "base.html" %}

{% block content %}

{% if not billing_profile %}
    </button>
    <form action="{% url 'krypnite:login' %}" method="POST">
        {% csrf_token %}
        
        <br>
        <div class="form-floating">
            <input type="username" class="form-control" id="floatingInput" placeholder="Username" name="username">
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        </div>
        <br><br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Let me enter</button>
        <br><br>
    </form>
{% else %}

    <h2>Checkout page</h2>
    <div class="btn-group">
        <a href="/krypnite/products" class="btn btn-outline-danger active">
            Back to products products page
        </a>
    </div>
    <br><br>
    <h5>Cart total: {{order.cart.total}}</h5>
    <h5>Shipping total: {{order.shipping_total}}</h5>

    <h2>Order Total: {{order.total}}</h2>

{% endif %}


{% endblock %}