{% extends 'base.html' %}

{% block content %}
{% load static %}

    <br><br>
    <div class="container-fluid" style="height: max-content; width: 90%; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);">
        <div style="text-align: center;">
            <div style="background-color: #fff;">
                <div>
                    <br>
                    <h4>Track an order</h4>
                </div>
                <div class="row">
                    <div class="btn-group" style="padding:2%">
                        <a href="/krypnite/products">Back to products products page</a>
                    </div>
                </div>
                <form method='GET' action='{% url "search:byExtID" %}' class="form">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Track you external ID order*" name='q' aria-label="Search" style="width: 300pt;">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                        </span>
                    </div>
                    <br>
                    <p class="text-muted">*Your external ID order can be found if you access your history.</p>

                    {% if searchead_ext_id.exists %}

                        {% for order in searchead_ext_id.all %}

                            <div class="row border-top border-bottom" style="height: 20%;">
                                <div class="row-cols-md-6" style="align-self: center;">{{forloop.counter}}</div>
                                <br>
                                <div class="col" style="align-self: center;">{{order.order_ext_id}}</div>
                                
                                <div class="col" style="align-self: center;">
                                    Status: {{order.status}}
                                </div>
                                <br><br><br>
                            </div>

                        {% endfor %}

                    {% endif %}
                </form>
                <br>
            </div>
        </div>
    </div>

{% endblock %}