{% extends 'base.html' %}
{% block content %}
    <div class="container mb-5">
        <div class="card rounded mx-auto">
            <p class="lead">
                {{product.product_name}}
                <br>
                <br>
                <br>
            </p>
            <img class="card-image-center img-fluid" style='height: 40%; max-width: 40%; object-fit: contain ' src="{{ product.product_photo.url }}" alt="image">
            <div>
                <!-- should be moved in another html file: 'update_cart.html' -->
                <form method='POST' action='{% url "cart:update" %}' class="form-inline my-2 my-lg-2"> {% csrf_token %}
                    <input type='hidden' name='product_id' value='{{ product.id }}'/>
                    {% if product in cart.products.all %}
                        In cart <br><button type='submit' class='btn btn-link'>Remove?</button>
                    {% else %}
                        Add to cart <br><button type='submit' class='btn btn-success'>Ship me these</button>
                    {% endif %}
                </form> 
            </div>
        </div>
    </div>
    
{% endblock %}