<!-- trebuie sa adaugam o clasa pentru care sa diferentiem - ajax -->
<form class="form-product-ajax" method='POST' action='{% url "cart:update" %}' class="form-inline my-2 my-lg-2"> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}'/>
    {% if product in cart.products.all %}
        In cart <button type='submit' class='btn btn-link'>Remove?</button>
    {% else %}
        Add to cart <button type='submit' class='btn btn-success'>Ship me these</button>
    {% endif %}
</form>


<script>
    $(document).ready(function(){
      var cartProductForm = $(".form-product-ajax")
      cartProductForm.submit(function(event){
        // will prevent do the submitting
        event.preventDefault();
        console.log("preventing from submitting")
      })
    })
  </script>