{% extends 'base.html' %}

{% block content %}


<script src="https://js.stripe.com/v3/"></script>
<!-- <form action="/charge" method="post" id="payment-form">
    <div class = "form-row">
        <div id="form-element" class="form-control">
            
          </div>
          <button id="submit">Submit</button>
          <div id="error-message">
            
          </div>
    </div>
</form>  -->

<form id="payment-form" class="form-control">
    <div id="card-element"><!--Stripe.js injects the Card Element--></div>
    <button id="submit">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pay now</span>
    </button>
    <p id="card-error" role="alert"></p>
    <p class="result-message hidden">
      Payment succeeded, see the result in your
      <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
    </p>
</form>

<script>
    // Set your publishable key: remember to change this to your live publishable key in production
    // See your keys here: https://dashboard.stripe.com/apikeys
    // Set your publishable key: remember to change this to your live publishable key in production
// See your keys here: https://dashboard.stripe.com/apikeys
const stripe = Stripe('pk_test_51KQFEFHR2u8dAKpeNYZ93U3Anb5yImjZMLmvoEWODzyVXaQI7lQ7KGtcIlRczjeizgSjvoodyyFeYL26e3xk3pNL00LwGwatBh');
    
    // const options = {
    //     clientSecret: '{{CLIENT_SECRET}}',
    //     // Fully customizable with appearance API.
    //     appearance:{
    //     }
    // };

    // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 2
    const elements = stripe.elements();

    // Create and mount the Payment Element
    const paymentElement = elements.create('payment');
    paymentElement.mount('#payment-element');

    const form = document.getElementById('payment-form');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const {error} = await stripe.confirmPayment({
            //`Elements` instance that was used to create the Payment Element
            elements,
            confirmParams: {
                return_url: 'https://my-site.com/order/123/complete',
            },
        }); 
        if (error) {
            // This point will only be reached if there is an immediate error when
            // confirming the payment. Show error to your customer (for example, payment
            // details incomplete)
            const messageContainer = document.querySelector('#error-message');
            messageContainer.textContent = error.message;
        } else {
            // Your customer will be redirected to your `return_url`. For some payment
            // methods like iDEAL, your customer will be redirected to an intermediate
            // site first to authorize the payment, then redirected to the `return_url`.
        }
    });


</script>



{% endblock %}


